
/* Header */
header {

  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.Logo {
    width: 141px;
    height: 34px;
    margin: 49px 257.77px 49px 100px;
    
}

/*  Fim - Header */

/* Menu de navegação */

nav {
    
}
nav ul{
    display: flex;
    gap: 40px;
    margin: 56px 0px 56px 0px;
}

nav a {
    font-size: var(--font-headline1-size);
    color: var(--color-neutral-black);
    font-weight: bold;
    border-radius: 5px;
    
}
.active{
    color: var(--color-primary);
}


nav a:hover {
    background-color: rgba(0, 160, 0, 0.1);
   
}

nav a:hover {
    color: var(--color-primary);
}

/* Fim - Menu de navegação */


/* Botões lupa e carrinho */

.btn-header{
    width: 224.46px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin:40px 100px 40px 257.77px ;
   
    
}

.btn-icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    background: none;
    gap: 16px;
    cursor: pointer;
}



/* Fim - Botões lupa e carrinho */
main{
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

/* Botão login */
.login-btn {
    width: 205px;
    height: 52px;
    padding: 16px 32px ;
    gap: 24px;
    font-size: var(--font-headline1-size);
    font-weight: bold;
    background: none;
    
}

.login-btn a {
    color: var(--color-primary);
    padding: 16px 32px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    font-size: var(--font-headline1-size);
    font-weight: bold;
    
}

.login-btn a:hover {
    transform: translatex(2px);
    background-color: rgba(0, 160, 0, 0.1);
    

}

/* Fim - Botão login */

/* Apresentação da comida */

.presentation-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 51px 0px;
    margin: 99px 39px 102px 98px;
    width: 1304px;
    height: 494px;
    gap: 124px;
    
}

.presentation {
    border: 1px solid black;
   width: 529px;
}

.presentation h1 {

    font-size: var(--font-h1-size);
}

.presentation p {
    width: 503px;
    height: 116px;
    font-size: var(--font-headline2-size);
    color: rgba(131, 127, 127, 0.486);
    margin: 32px 26px 84px 0px;
    
    
}

.btn {

  display: flex;
  align-items: center;
  text-align: center;
  gap: 24px;
  
    
    
}

.btn-order{
    width: 144px;
    height: 52px;
    padding: 16px 32px;
    background-color: var(--color-primary);
    border-radius: 10px;
    color: var( --color-neutral-white);
    font-size: var(--font-headline1-size);
    font-weight: bold;
    
    
}

.btn-products {
    width: 189px;
    height: 52px;
    padding: 16px 32px;
    background: none;
    outline: 2px solid var(--color-primary);
    border-radius: 10px;
    color: var(--color-primary);
    font-size: var(--font-headline1-size);
    font-weight: bold;

}


span {
    color: var(--color-primary);
}



.presentation-img {
 display: flex;
 justify-content: center;
 align-items: center;
 
}

.img-salad {
width: 651px;
 height: 494px;
}



/* Fim Apresentação */

/* Top - beneficios */
/* 
.Top-Benefits {
    text-align: center;
}



.icon-benefits {
  display: flex;
  justify-content: center;
  align-items: center;
} */


