/* =============== Header ============== */
header {
  width: 1440px;
  height: 132px;
  padding: 40px 100px;
  margin: auto;
  background-color: var(--color-neutral-white);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  
  
}

/* Logo QuickFood */
.logo-QuickFood {
  /* width: 141px;
  height: 34px; */
}

/* Navigation */
.header-navigation ul {
  display: flex;
  gap: 40px;

}

.header-navigation a {
  padding: 5px 10px;
  font-size: var(--font-headline-3-size);
  font-weight: var(--font-weight-3-medium);
  
}

.navigation {
  color: var(--color-neutral-black);
}

.header-navigation a:hover {
  color: var(--color-primary);
  background-color: var(--color-primary_hover);
  border-radius: 8px;
}

.active {
  color: var(--color-primary);
}

/* Fim - Navigation */

/* Icons / Btn */
.icons {
  display: flex;
  gap: 16px;
  background: transparent;
  
}

.icon-button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.icons-items {
  width: 40px;
  height: 40px;
}

.btn-login {
  width: 105px;
  height: 52px;
  padding: 16px 32px;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  background: transparent;
  font-size: var(--font-headline-3-size);
  font-weight: var(--font-weight-3-medium);
  color: var(--color-primary);
  cursor: pointer;
  
}

.btn-login:hover {
  color: var(--color-neutral-white);
  background-color: var(--color-primary);
}



/* =============== Fim - Header ============== */


/* ========= Hero-container ========= */

.hero{
  width: 1192px;
  height: 494px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: var(--color-neutral-white);
}

.hero-content {
  width: 529px;
  height: 392px;
  margin: 51px 124px 51px 0px ;
  background-color: var(--color-neutral-white);
}
.hero h1 {
  font-size: var(--font-headline-1-size);
  font-weight: var(--font-weight-1-bold);
  line-height: 1.2;
  
}
span {
color: var(--color-primary);
}
.hero p {
  width: 503px;
  height: 116px;
 margin: 32px 26 0px 0px;
 font-size: var(--font-headline-2-size);
 font-weight: var(--font-weight-2-light);
 line-height: 1.6;
 color: var(--color-neutral-L_grey);
}
.hero-buttons {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}
.btn-primary {
  width: 144px;
  height: 52px;
  border-radius: 8px;
  border: none;
  font-size: var(--font-headline-3-size);
  font-weight: bold;
  color: var(--color-neutral-white);
  background-color: var( --color-primary);
  cursor: pointer;
  
}

.btn-secondary {
  width: 189px;
  height: 52px;
  border-radius: 8px;
  background-color: var(--color-neutral-white);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-size: var(--font-headline-3-size);
  font-weight: bold;
  cursor: pointer;

}

.btn-primary:hover {
  background-color: var(--color-neutral-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn-secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-neutral-white);
}




.hero-image img {
  width: 539px;
  height: 494px;
}
 /* ========= Fim Hero-container ========= */

 /* ===== Why Choose Us Container ===== */
.why-choose-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  background-color: var(--color-neutral-white);
}

/* Conteúdo principal */
.why-choose-content {
  text-align: center;
  margin-bottom: 60px;
  margin: auto;
  
}

.why-choose-content h2 {
  font-size: var(--font-headline-7-size);
  font-weight: var(--font-weight-7-extrabold);
  color: var(--color-neutral-black);
  margin-bottom: 10px;
}

.why-choose-content p {
  font-size: var(--font-headline-2-size);
  color: var(--color-neutral-L_grey);
  line-height: 1.5;
}

/* Área de serviços */
.service-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.service {
  width: 300px; 
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  
}


.service-items {
  width: 120px;
  height: 120px;
  margin: 0 auto 20px;
}

.service-content h2 {
  font-size: var(--font-headline-6-size);
  font-weight: var(--font-weight-6-bold);
  color: var(--color-neutral-black);
  margin-bottom: 10px;
}

.service-content p {
  font-size: var(--font-headline-2-size);
  font-weight: var(--font-weight-2-light);
  color: var(--color-neutral-L_grey);
}

/* Números ou estatísticas */
.numbers {
  max-width: 1440px;
  width: 100%;
  min-height: 89px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  margin: 60px auto 100px;
  gap: 20px;
 
}

.numbers-content h3 {
  font-size: var(--font-headline-7-size);
  color: var(--color-neutral-black);
  
}


.numbers-content p {
  font-size: var(--font-headline-2-size);
  color: var(--color-neutral-L_grey);
  
}
 /* ===== Fim Why Choose Us Container ===== */

 /* =====Special dishes for you Container===== */
 .hero-special {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 20px;
  background-color: var(--color-neutral-white);
}

.hero-special h2 {
  font-size: var(--font-headline-7-size);
  font-weight: var(--font-weight-7-extrabold);
  margin-bottom: 40px;
}

.hero-special-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.special-container {
  max-width: 300px;
  padding: 20px;
}

.special-content{
  background-color: var(--color-primary_hover);
  border-radius: 10px;
  
 
}
/* Button Group */
.btn-buy-now {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn-content {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-neutral-white);
  border-radius: 4px;
  transition: background 0.3s;
}

.btn-content:hover {
  background-color: var(--color-neutral-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
/* ===== Fim Special dishes for you===== */

/* =====What our clients Container===== */
.hero-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 57px;
}

.clients h3 {
  font-size: var(--font-headline-7-size);
  font-weight: var( --font-weight-7-bold);
  color: var(--color-neutral-black);
}

.clients p {
  font-size: var(--font-headline-2-size);
  font-weight: var(--font-weight-2-light);
  color: var(--color-neutral-L_grey);
  margin-top: 8px;
}

.clients-container {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  margin: 60px 100px;
}

.clients-cards {
  width: 399px;
  height: 400px;
}

.clients-items img {
width: 100px;
height: 100px;
margin: 40px 149.5px 24px;

}

.clients-items h4 {
  font-size: var( --font-headline-6-size);
  font-weight: var(--font-weight-6-bold);
  color: var(--color-neutral-black);
}

.clients-items p {
  width: 319px;
  height: 110px;
  margin: 16px 40px 75px;
  font-size: var(--font-headline-2-size);
  font-weight: var(--font-weight-2-light);
  color: var(--color-neutral-L_grey);
}
/* =====Fim What our clients Container===== */

/* =====About Us===== */
.about-container {
  width: 1440px;
  height: 602.08px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 118px;
  gap: 82px;
}

.about-content {
  width: 558px;
  height: 297px;
  text-align: start;
}

.about-content h5 {
  font-size: var(--font-headline-8-size);
  font-weight: var(--font-weight-8-bold);
  color: var(--color-neutral-black);
}

.about-content p {
  font-size: var(--font-headline-2-size);
  font-weight: var(--font-weight-2-bold);
  color: var(--color-neutral-L_grey);
  margin: 24px 0px 24px;
}
/* ===== Fim About Us===== */